---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

I am working on offshore renewable energy now. My research focus is to build and utilize a variety of (high-fidelity) computational tools to better predict nonlinear wave loads and structural responses of floating wind turbines. I am interested in hydrodynamics, Computational Fluid Dynamics (CFD), fluid-structure interaction, hydroelasticity, renewable energy, offshore wind turbines, etc. More details will come soon.

{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

